@inherits UmbracoViewPage<Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = null;
}

<h1>hello</h1>
<h2>@Model.Header</h2>
<p>test - @Model.Header</p>
<p>@Model.Color</p>
<div>
    @Model.Color
</div>